.myButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.myButton:hover {
    background-color: purple;
}